{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1>{{ title }}</h1>
    <p>
        {{ group.description }}
    </p>
    <article>
        {% for post in page_obj %}
        <ul>
            <li>
              {% if post.author.get_full_name %}
                Автор: {{ post.author.get_full_name }}
              {% else %}
                Автор: {{ post.author.username }}
              {% endif %}
                <br>
                <a href="{% url 'posts:profile' post.author.username  %}">все посты пользователя</a>
            </li>
            <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
        </ul>
        <p>{{ post.text }}</p>
        {% if not forloop.last %}
        <hr>{% endif %}
        {% endfor %}
    </article>
</div>
{% endblock %}